div#loading-message
	span please wait...

h2 7digital shared playlists built in node.js


h5 Add tracks to a shared playlist, for everyone to enjoy!


hr

h4 connected users
ul#user-list
	- for (var i = 0; i < users.length; i++) {
		li.user-box.small(data-user=users[i].name)=users[i].name
	- }
div.clear
div#welcome-message

.first.column
	h4 user chat
	
	form#chat-form
		span.first.column
			input#text-input(type='text', style='width:200px;margin-right:5px;margin-top:5px')
		span.column
		input#send-button(type='submit', value='chat')

	ul#messages
		- for (var i = 0; i < chatMessages.length; i++) {
			li.small
				span.chat-name
					=chatMessages[i].name
					span :
				=chatMessages[i].message
		- }

.column
	h4 search for a track 


	form#track-search(method='post',action='/trackSearch')
		span.first.column
			input#track-search-query(type='text',name='query', style='width:200px;margin-right:5px;margin-top:5px')
		span.column
		input#track-search-submit(type='submit', value='search')

	div#searchResults



.column
	h4 playlist

	div#shared-playlist
		ul#sortable
			- for (var i = 0; i < playlistTracks.length; i++) {
				li.search-result.ui-widget-content.playlist-spot-container(data-trackid=playlistTracks[i].trackId, data-image=playlistTracks[i].image, data-artistname=playlistTracks[i].artistName, data-trackname=playlistTracks[i].trackName)
					div.column.first
						img(src=playlistTracks[i].image)
					div.column
						span.small(style='font-size:10px')
							=playlistTracks[i].artistName
							span  - 
							=playlistTracks[i].trackName
						p
							span Added by 
							=playlistTracks[i].addedBy
			- }


	div#music-player
		audio#audio-stream


